extends layout.pug
block content
 div.container
  h1= welcome
  h2= name  
  p The folowing is a list of colors based on an object management
  section#content
   ul
    each color in colors
     li= color
  section#form
   form(action='/hello',method='post')
    label Please enter here a name:
     input(type='text', name='username')
    button(type='submit') Submit
 
 